<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КП№3_Мироненко_КМ82</title>
    <style>
     .hi{
        text-align: center;
     }
     .po{
        margin: 20%;
     }
    </style>
</head>
<body>
    <div class='hi'>
        <h1>Комп'ютерний Практикум №3</h1>
        <p>
            <h2>Виконав: Мироненко Роман, КМ-82</h2>
        </p>
        <label>Щоб розпочати тисніть на посилання!</label>
        <div class="po"></div>
        <a href="{{ url_for('index') }}">Main page</a>
    </div>
    </div>
</body>
</html>

